<h1 id="tableLabel">Candidates</h1>

<p *ngIf="!candidates"><em>Loading...</em></p>
<a class="btn btn-success" [routerLink]="['/new-candidate']">Add Candidate</a>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="candidates">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Degree</th>
      <th>CV</th>
      <th>Creation Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let candidate of candidates">
      <td>{{ candidate.firstName }}</td>
      <td>{{ candidate.lastName }}</td>
      <td>{{ candidate.email }}</td>
      <td>{{ candidate.mobile }}</td>
      <td>{{ candidate.degree }}</td>
      <td>{{ candidate.cv }}</td>
      <td>{{ candidate.creationTime }}</td>
      <button [routerLink]="['/update-candidate', candidate.id]" class="btn btn-info">Update</button>
      <button (click)="deleteCandidate(candidate.id)" class="btn btn-danger">Delete</button>
    </tr>
  </tbody>
</table>
